#header{
	background:url("../images/headerbg.png") repeat-x scroll 0 0 #fff;
	height: 105px;
}

#header .contWidth{
	position: relative;
	height: 105px;
	width: 990px;
	margin: 0 auto;
	z-index: 100;
}

#header .logo{
	float: left;
	margin: 0 0 0 10px;
}

#header #inputSearch{
	position: absolute;
	top: 20px;
	left: 198px;
}

#skin{
	float: right;
	margin: 10px;
	padding: 4px;
	width: 120px;
}

#skin li{
	margin-right: 4px;
	width: 15px;
	height: 15px;
	overflow: hidden;
	display:block;
	cursor: pointer;
	float: left;
	text-indent: -9999px;
	background-image: url("../images/theme.gif");
}

#skin_0{
	background-position: 0px 0px;
}
#skin_1{
	background-position: 15px 0px;
}
#skin_2{
	background-position: 35px 0px;
}
#skin_3{
	background-position: 55px 0px;
}
#skin_4{
	background-position: 75px 0px;
}
#skin_5{
	background-position: 95px 0px;
}

#skin_0.selected{
	background-position: 0px 15px;
}
#skin_1.selected{
	background-position: 15px 15px;
}
#skin_2.selected{
	background-position: 35px 15px;
}
#skin_3.selected{
	background-position: 55px 15px;
}
#skin_4.selected{
	background-position: 75px 15px;
}
#skin_5.selected{
	background-position: 95px 15px;
}

.mainNav{
	position: absolute;
	top: 68px;
	left: 0px;
	line-height: 37px;
	width: 990px;
	z-index: 100px;
	background: #4a4a4a;
}

.mainNav .nav{
	display: inline;
	float: left;
	margin-left: 25px;
}

.mainNav ul li{
	float: left;
	display: inline;
	margin-right: 14px;
	position: relative;
	z-index: 100;
}

.mainNav ul li a{
	display: block;
	padding: 0 8px;
	font-weight: 700;
	color: #fff;
	font-size: 14px;
}

.jnNav{
	background: #4A4A4A;
	border:1px solid #b1b1b1;
	border-top: 0;
	overflow:hidden;
	position: absolute;
	top: 37px;
	left: 0px;
	width: 474px;
	z-index:1000;
	display: none;
}

.jnNav .subitem{
	float: left;
	height: auto !important;
	min-height: 100px;
	padding: 10px 12px;
	width: 450px;
}

.jnNav .subitem dl{
	border-top: 1px dashed #c4c4c4;
	overflow: hidden;
	padding: 8px 0 0;
	float: left;
}

.jnNav .subitem dt{
	float: left;
	font-weight: bold;
	line-height: 16px;
	padding: 4px 3px;
	text-align: center;
	width: 76px;
}

.jnNav .subitem dd{
	float: left;
	overflow: hidden;
	padding: 0;
	width: 364px;
}

.jnNav .subitem dd em{
	float: left;
	display: inline-block;
	width: 120px;
	text-align: center;
	border-right:1px dashed #fff;
}

.jnNav .subitem dd em:hover{
	text-decoration: none;
	background-color: #B1B1B1;
}

#content{
	clear: left;
	margin: 0 auto;
	position:relative;
	width: 990px;
}

.janeshop {
	height: 560px;
	overflow: hidden;
	padding: 10px 0;
}

#jnCatalog{
	float: left;
	height: 560px;
	margin: 0 11px 0 0;
	overflow: hidden;
	width: 187px;
}

#jnNotice {
	float: left;
	height: 321px;
	overflow: hidden;
	width: 230px;
}

#jnBrand{
	float: left;
	height: 230px;
	margin: 10px 0 0;
	overflow: hidden;
	width: 790px;
}

#jnCatalog h2{
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 12px;
	text-indent: 13px;
	background: #6e6e6e;
}

.jnCatainfo {
	border: 1px solid #6e6e6e;
	border-style: none solid solid;
	border-width: 0 1px 1px;
	height: 524px;
	overflow: hidden;
	padding: 5px 10px 0;
	width: 165px;
}

.jnCatainfo h3{
	border-bottom: 1px solid #eee;
	height: 24px;
	line-height: 24px;
	width: 164px;
}

.jnCatainfo ul{
	float: left;
	padding: 0 2px 8px;
}

.jnCatainfo li{
	color: #aeadae;
	float: left;
	height: 24px;
	line-height: 24px;
	width: 79px;
	overflow: hidden;
	position: relative;
}

.jnCatainfo li a{
	color: #444;
}

.jnCatainfo li a:hover{
	color: #008cd7;
	text-decoration: none;
}
.jnCatainfo li a.promoted{
	color: #f9044e;
}

.jnCatainfo li .hot{
	background:url("../images/hot.gif") no-repeat scroll 0 0 transparent;
	height:16px;
	position: absolute;
	top: 0;
	width: 21px;
}

#jnImageroll{
	float: left;
	height: 320px;
	margin: 0 11px 0 0;
	overflow: hidden;
	position: relative;
	width: 550px;
}

#jnImageroll img{
	position: absolute;
	left: 0;
	top: 0;
}

#jnImageroll div{
	position: absolute;
	float: left;
	bottom: 0;
	overflow: hidden;
}

#jnImageroll div a{
	background-color: #444444;
	color: #fff;
	display: inline-block;
	float: left;
	height: 32px;
	margin-right: 1px;
	overflow: hidden;
	padding: 5px 15px;
	text-align: center;
	width: 79px;
}

#jnImageroll div a:hover{
	text-decoration: none;
}

#jnImageroll div a em{
	cursor: pointer;
	display: block;
	height: 16px;
	overflow: hidden;
	width: 79px;
}

#jnImageroll .last{
	margin: 0;
	width: 80px;
}

#jnImageroll a.chos{
    background: url("../images/adindex.gif") no-repeat center 39px #37A7D7;
    color: #FFFFFF;
}

#jnMiaosha{
	float: left;
	height: 176px;
	margin-bottom: 10px;
	overflow: hidden;
	width: 230px;
}

.JS_css3 img {
	-webkit-transition:1s all;
	-moz-transition:1s all;
	-o-transition:1s all;
	transition:1s all;
}

.JS_css3:hover img {
	-webkit-transform:rotate(720deg);
	-moz-transform:rotate(720deg);
	-o-transform:rotate(720deg);
	transform:rotate(720deg);
}

#jnNoticeInfo{
	float: left;
	border: 1px solid #dfdfdf;
	height: 133px;
	overflow: hidden;
	width: 228px;
}

#jnNoticeInfo h2{
	height: 23px;
	line-height: 23px;
	border-bottom: 1px solid #dfdfdf;
	text-indent: 12px;
}

#jnNoticeInfo ul{
	float: left;
	padding: 6px 2px 0 12px;
}

#jnNoticeInfo li {
	height: 20px;
	line-height: 20px;
	overflow: hidden;
}

#jnNoticeInfo li a{
	color: #666;
}

#jnNoticeInfo li a:hover{
	color: #008cd7;
	text-decoration: none;
}

#jnBrandTab {
	border-bottom: 1px solid #e4e4e4;
	height: 29px;
	position: relative;
	width: 790px;
	float: left;
}

#jnBrandTab h2{
	height: 29px;
	line-height: 29px;
	left: 0;
	position: absolute;
	width: 100px;
}

#jnBrandTab ul{
	position: absolute;
	top: 10px;
	right: 0;
}

#jnBrandTab li{
	float: left;
	margin: 0 10px 0 0 ;
}

#jnBrandTab li a{
	background-color: #e4e4e4;
	color: #000;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 0 10px;
}

#jnBrandTab .chos{
	background: url("../images/chos.gif") no-repeat scroll 50% bottom transparent;
	padding-bottom:3px;
}

#jnBrandTab .chos a{
	background-color: #fa5889;
	color: #fff;
	outline: 0 none;
}

#jnBrandContent{
	float: left;
	height: 188px;
	overflow: hidden;
	margin: 8px 5px;
	width: 790px;
	position: relative;
}

#jnBrandList{
	position: absolute;
	left: 0;
	top: 0;
	width: 3200px;
}

#jnBrandContent li{
	float: left;
	height: 188px;
	overflow: hidden;
	padding: 0 5px;
	position: relative;
	width: 185px;
}

#jnBrandContent li img{
	position: absolute;
	left: 5px;
	top: 0;
}

#jnBrandContent li span{

	bottom: 0;
	color: #666;
	display: block;
	font-size: 14px;
	height: 24px;
	line-height: 24px;
	overflow: hidden;
	position: absolute;
	text-align: center;
	width: 183px;
}

#jnBrandContent li span:hover{
	background-color: #efefef;
}

#jnBrandContent li a{
	color: #666;
}

#jnBrandContent li a:hover{
	color: #008cd7;
	text-decoration: none;
}

#jnProitem{
	float: left;
	width: 312px;
	height: 560px;
	display: inline;
}

#jnDetails{
	float: left;
	display: inline;
	overflow: hidden;
	width: 468px;
}

#jnProitem .jqzoomWrap{
	border: 1px solid #bbb;
	cursor: pointer;
	float: left;
	padding: 0;
	position: relative;
}

#jnProitem span{
	clear: both;
	display: block;
	padding-bottom: 10px;
	padding-top: 10px;
	text-align: center;
	width: 320px;
}

#jnProitem ul.imgList{
	height: 80px;
}

#jnProitem ul.imgList li{
	float: left;
	margin-right: 10px;
}

#jnProitem ul.imgList li img{
	width: 60px;
	height: 60px;
	padding: 1px;
	background: #eee;
	cursor: pointer;
}

#jnProitem ul.imgList li img：hover{
	padding: 1px;
	background: #999;
}

.tab{
	clear: both;
	float: left;
	height:230px;
	overflow: hidden;
	width: 310px;
}

.tab .tab_menu{
	clear: both;
}

.tab .tab_menu li{
	float: left;
	text-align: center;
	cursor: pointer;
	list-style: none;
	padding: 1px 6px;
	margin-right: 4px;
	background: #f1f1f1;
	border: 1px solid #898989;
	border-bottom: none;
}

.tab .tab_menu li:hover{
	background: #dfdfdf;
}

.tab .tab_menu li.selected{
	color: #fff;
	background: #6d84b4;
}

.tab .tab_box{
	clear: both;
	border: 1px solid #898989;
}

.tab .hide{
	display: none;
}

#jnDetails{
	margin-left: 10px;
}

#jnDetails h4{
	font-weight: bold;
}

#jnDetails ul.jnProDetailList {
	line-height: 24px;
}

#jnDetails ul.jnProDetailList .del{
	text-decoration: line-through;
}

#jnDetails ul.jnProDetailList .tbDetailPrice strong{
		font-size: 25px;
		font-weight:bolder;
}

#jnDetails ul.jnProDetailList li{
	clear: left;
}


#jnDetails ul.jnProDetailList li.color_change ul li{
	float: left;
	margin-right: 15px;
	clear: none;
}

#jnDetails ul.jnProDetailList li.pro_size ul li{
	border: 1px dashed gray;
	width: 20px;
	/*height: 20px;*/
	text-align: center;
}

#jnDetails ul.jnProDetailList li.pro_size ul li,.pro_rating ul li{
	float: left;
	margin-right: 15px;
	clear: none;
}

#cart{
	clear:left;
	margin-top: 40px;
}

#tooltip{
	position:absolute;
	border: 1px solid #333;
	background: #f7f5d1;
	padding: 1px;
	color: #333;
	display: none;
}

.imageOver{
	background:url(../images/zoom.gif) no-repeat 50% 50%;
	filter:alpha(opacity=60);
	opacity: 0.6;
}

#footer{
	text-align: center;
	width: 500px;
	margin: 40px auto;
	color: #666666;
}